.form {
  max-width: 385px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  display: block;
  margin-bottom: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-color: #838383;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}

.form__input_datetime-local {
  padding-left: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  height: 60px;
}

::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding-left: 12px;
}

.form__button {
  width: 100%;
  padding: 0;
  border: none;
  margin-bottom: 32px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #2f80ed;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  margin-right: 12px;
  border-color: #838383;
}
