.form {
  max-width: 385px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  display: block;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-color: #838383;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.form__input_datetime-local {
  padding-left: 12px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  height: 60px;
  border: 1px solid #838383;
  border-radius: 4px;
}

.form__input::placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding-left: 12px;
}

.form__button {
  width: 100%;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #838383;
  margin-bottom: 32px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #2f80ed;
  transition: background-color 1s;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  margin-right: 12px;
  border-color: #838383;
  height: 20px;
  width: 20px;
}
